<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href='../../static/style.css'>
</head>
<body style="text-align: center;" class="text">
	<h1>Registration</h1>
	<form action="../finishregistration/" method="post">
		<label for="username" style = "color: {% if length %} red {% else %} black {% endif %};">Username (3-16 chars): </label><input type="text" name="username"><br>
		<label for="password" style="color: {% if pw %} red {% else %} black {% endif %};">Password (5-255 chars): </label><input type="password" name="password"><br>
		<input type="submit" value="Submit">
	</form><br>
	<h3 style = 'display: {% if name %} block {%else%} none {%endif%}; color:red;'>That username has already been taken!</h3>
	<p><br>Already have an account? <a href='../login/'>Login</a> instead.</p>
</body>
</html>